<app-headercomponent></app-headercomponent>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">


  <div class="border-left-up">
    <span>
      <img class = "img-responsive"
          src = "http://w3widgets.com/responsive-slider/img/html5.png"
          style = "..."/>
          <hr />
  </span>
    <div>
      <div id="enroll">
        <span>Enroll</span>
      </div>
    </div>
  </div>

  <div class="border-left-down">
    <span>
    <br />
    <p>Title: Html </p>
    <hr />
    <p>Category: Webdesign</p>

    <hr />
    <p>Description:</p>
    </span>

  </div>


  <div class="border-right">
    <tabs>
      <tab [tabTitle]="'Overview'"><p>
        This course blablab
      </p></tab>
      <tab tabTitle="Lessons">
        <ul>
          <li> <span id="lessons">Lesson 1:</span> <span>Structure</span> </li>
          <li> <span id="lessons">Lesson 2: </span> <span>HTML Elements</span></li>
          <li> <span id="lessons">Lesson 3: </span><span>Your first web-page</span></li>
        </ul>
      </tab>
    </tabs>

  </div>
