<app-headercomponent></app-headercomponent>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">


  <div class="border-left-up">
    <span>
      <img class = "img-responsive"
          src = "http://w3widgets.com/responsive-slider/img/html5.png"
          style = "..."/>
          <hr />
  </span>
    <div>
      <div id="enroll">
        <span>Enroll</span>
      </div>
    </div>
  </div>

  <div class="border-left-down">
    <span>
    <br />
    <p>Title: Html </p>
    <hr />
    <p>Category: Webdesign</p>

    <hr />
    <p>Description:</p>
    </span>

  </div>


  <div class="border-right">
</div>
