
  h1 {
    font-weight: normal;
    font-size: 24px;
    font-family: Cambria, serif;
    margin-left: 16px;
    color: #DFDCE3;
    margin-top: 25px;
  }

ul li {
  font-weight: normal;
  font-size: 15px;
  font-family: Cambria, serif;
  margin-left: 16px;
  color: #DFDCE3;
}

ul {
  column-count: 3;
 column-gap: 10px;
 list-style: none;
}
