<app-headercomponent></app-headercomponent>
<br />
<br />
<br />
<h1>Progress</h1>


<ul>
  <li>
    <h2>Introduction</h2>

    <p style="width:80%" data-value="80">HTML</p>
    <progress max="100" value="{{course.progress}}" ></progress>

    <p style="width:60%" data-value="60">CSS</p>
    <progress max="100" value="0" ></progress>

    <p style="width:60%" data-value="60">JavaScript</p>
    <progress max="100" value="0" ></progress>

    <p style="width:60%" data-value="60">jQuery</p>
    <progress max="100" value="0" ></progress>

  </li>

  <li id="frameworks">
    <h2>Frameworks</h2>

    <p style="width:60%" data-value="60">Angular.js</p>
    <progress max="100" value="0" ></progress>

    <p style="width:60%" data-value="60">Three.js</p>
    <progress max="100" value="0" ></progress>

    <p style="width:60%" data-value="60">Ember.js</p>
    <progress max="100" value="0" ></progress>

    <p style="width:60%" data-value="60">Bootstrap</p>
    <progress max="100" value="0" ></progress>

  </li>
</ul>
