progress {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 15px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #ff0808, #0cf747);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}


ul li {
  float: left;
  margin: 20px;
}

ul h2 {
  font-size: 15px "Libre Baskerville";
}

ul li {
  font-size: 10px "Libre Baskerville";
}

h1 {
    font-size: 22px "Libre Baskerville";
  margin-left: 60px;
}
