<app-headercomponent></app-headercomponent>
<br />
<br />
<br />
<br />

<div class="container">
  <div class="learn_pane">
    <h1>Learn</h1>


    <ul class= "questions">
      <ul *ngFor="let question of questions; let qi = index" >
        <p class="question_{{qi}}">{{ question.questionText }}</p>
        <ul class="answer" *ngFor="let answer of question.answers; let ai = index">
        <label class = "isCorrect_{{answer.selected}}">  <input id = "question_{{qi}}_answer_{{ai}}" ngModel="answers[{{ai}}]" type="radio" value = "{{answer.answerText}}" name = "question_{{qi}}_answer"> {{ answer.answerText }}</label>
        </ul>
      </ul>

    </ul>
    <button class="btn" type="submit"  (click)= "showResult()">Submit</button>
    <div class="well">
      <p>You got {{correctCount}} out of {{questions.length}} right!</p>
    </div>

  </div>
  <div class="editor_pane">

    <h1>Coding</h1>
  </div>
  <div class="preview_pane">
    <h1>Preview page</h1>
  </div>
</div>
