<a class="list-group-item-clearfix">
  <span>
<button (click) = "deleteCourse(course.name)" *ngIf ="Editor || Admin">X</button>
  <a href="{{course.webpageurl}}">
      <img id = "image" class = "img-responsive"
                  src = "{{course.imageurl}}"
          style = "..."
        />
</a>
</span>
<div>
  <h4 class="list-group-item-heading">{{course.name}}</h4>
  <p class="list-group-item-text">{{course.description}}</p>

  <progress max="100" value="{{course.progress}}"></progress>

</div>

</a>
