a .list-group-item-heading {
  font-size: 16px;
font-weight: normal;
  font-family: Cambria;
}

a .list-group-item-heading, .list-group-item-clearfix {
    text-decoration: none;
      color: #f2efe9;

}

.list-group-item-clearfix {
  border: solid 0.001em  transparent;
  border-radius: 10px;
  width: 260px;
  height: 260px;
  margin: 35px 55px 35px 70px;
  display: flex;
  justify-content: flex-start space-around;
  flex-direction: column;
  float: left;
  font-size: 14px;
font-weight: normal;
  font-family: Cambria;
}

.img-responsive {
  height: 140px;
  width: auto;
  display: block;
  margin:auto;
  border-radius: 10px;
}

.list-group-item-text, a .list-group-item-heading {
  text-align: center;
}

.list-group-item-clearfix:hover {
  border: solid 0.001em  #F7B733;
  background-color: #F7B733;
  opacity: 0.6;
}
