<header>

    <!-- <img src="https://www.a-eskwadraat.nl/Vereniging/Commissies/spocie/logos/sogyo.png" /> -->

  <nav role="navigation">
    <ul>
      <li>
        <a href="/">
          <div>
            Courses
          </div>
        </a>
      </li>
      <li id="profile">
        <a href="/profile">
          <div>
            Profile
          </div>
        </a>
        <div>
          <ul>
            <li><a href="/profile/progress">Progress</a></li>
            <li><a href="/profile/settings">Settings</a></li>
            <li><a href="/profile/users">Users</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
