* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

html {
  background-color: #DFDCE3;
  width: 0px;
  height: 0px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.clear {
  display: block;
}

.clear::after {
  clear: both;
  content: ".";
  display: block;
  height: 0px;
  visibility: hidden;
}

body {
  background: #DFDCE3;
  -webkit-font-smoothing: antialiased;
  height: 0px;
  line-height: 1.6rem;
  min-height: 100%;
}

header {
  background: linear-gradient(#F7B733 97%, #FC4A1A 3%);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: -2px;
  left: -0.5px;
}

header>nav>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

header>nav>ul>li {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all linear 0.1s;
}

header>nav>ul>li:hover {
  background-color: #f15329;
  color: black;
}

header>nav>ul>li a+div {
  background: linear-gradient(to top, #F7B733 97%, #FC4A1A 1%);
  border-radius: 0 0 2px 2px;
  /*box-shadow: 0 3px 1px rgba(0, 0, 0, .05);*/
  display: none;
  font-size: 15px;
  font-family: Cambria, serif;
  position: absolute;
  width: 119px;
}

header>nav>ul>li:hover a+div {
  display: block;
  background-color: #f15329;
  color: #DFDCE3;
}

header>nav>ul>li a+div>ul {
  list-style-type: none;
}

header>nav>ul>li a+div>ul>li {
  margin: 0;
  padding: 0;
}

header>nav>ul>li a+div>ul>li>a {
  color: rgba(255, 255, 255, .9);
  display: block;
  font-size: 10px;
  font-weight: normal;
  font-family: Cambria;
  letter-spacing: 1.5px;
  padding: 1.20rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

header>nav>ul>li a+div>ul>li:hover>a {
  background-color: #f15329;
  color: #DFDCE3;
}

header>nav>ul>li>a>div {
  font-size: 24px;
  font-weight: normal;
  font-family: Cambria;
}

header>nav>ul>li>a {
  align-items: flex-start;
  color: #fff;
  display: flex;
  font: 15px 200;
  letter-spacing: 1px;
  max-width: 130px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(100, 147, 78, .15);
  transition: all linear 0.1s;
}

header>nav>ul>li>a>div>a {
  color: black;
  display: block;
  font-size: 19px;
  font-weight: normal;
  font-family: Cambria;
  line-height: 1rem;
  max-width: 260px;
}

@media (min-width: 990px) {
  header>nav>ul>li>a {
    max-width: 500px;
    font-size: 19px;
    font-weight: normal;
    font-family: Cambria;
    line-height: 2rem;
  }
}

header nav ul li a:hover {
  background-color: #f15329;
  color: #DFDCE3;
}

img {
  position: absolute;
  left: 6%;
  top: 12%;
  width: 85%;
}

header nav ul #profile {
  position: absolute;
  left: 92%;
}

#course_hidden {
  color: #F7B733;
}
