.footer img {
  width: 15%;
display: block;
margin-left: auto;
margin-right: auto;

}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #4ABDAC;
  text-align: center;
  top: 1200px;
}
input {
display: block;
margin-top: 10px;
margin-bottom: 5px;
margin-left: auto;
margin-right: auto;
  width: 248px;
  height: 23px;
  color:black;
  background-color:#DFDCE3;
  border: 1px solid #d3d0d6;
  text-align: center;
  }

button {
  background-color: #F7B733;
  color:#DFDCE3;
  border-radius: 5px;
  width: 200px ;
  height: 20px ;
  text-align: center;
  border-width: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


 .list-group-item-clearfix {
    text-decoration: none;
      color: #f2efe9;

}
.img-responsive {
  height: 140px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.list-group-item-clearfix {
  border: solid 0.001em  transparent;
  border-radius: 10px;
  width: 260px;
  height: 260px;
  margin: 35px 55px 35px 110px;
  display: flex;
  justify-content: flex-start space-around;
  flex-direction: column;
  float: left;
  font-size: 14px;
  font-weight: normal;
  font-family: Cambria;
}


.list-group-item-clearfix:hover {
  border: solid 0.001em  #DFDCE3;
  background-color: #DFDCE3;
  opacity: 0.6;
}

img[src="Error.src"] {
  display: none;
}

img {
  width: 30px;
}
form {
  margin-top: 5px;
}


.roles {
  display: inline-block;
}

.roles:hover {
  cursor: pointer;
}
