.footer img {
  width: 15%;
display: block;
margin-left: auto;
margin-right: auto;

}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #4ABDAC;
  text-align: center;
  top: 1200px;
}

span {
  background-color: #F7B733;
  color:#DFDCE3;
  border-radius: 50%;
  padding: 1px;
  width: 10px;
  height: 10px;
  box-shadow: none;
}
