<app-headercomponent></app-headercomponent>
<br />
<br />
<br />
<br />
<br />

<course-courses></course-courses>
<div  class = "list-group-item-clearfix" >
  <span>
      <img class = "img-responsive"
                  src = "/assets/newcourse.png"
          style = "..."
        />

  </span>
        <input [(ngModel)]="input" placeholder = "What course do you want to add?" >
        <button (click)="addCourse(input)" type="submit">Add</button>
    </div>

<div class="footer">
  <img src="/assets/logo-klein.jpg" />
</div>
