.container {
  display: flex;
  justify-content: space-around;
}

.border-left-up, .border-left-down {
  width: 16%;
  height: 280px;
  border: solid 1px #FC4A1A ;
  border-radius: 10px;
}

.border-left-down {
  align-self: flex-end;
  margin-left: -30.5%;
}

.border-right {
  border-radius: 10px;
  width: 55%;
  height: 600px;
  border: solid 1px #FC4A1A;
}

h3 {
font-family: Cambria;
font-size: 16px;
margin-left: 41px;
margin-top: 30px;
}

.list-group-item-heading {
  font-family: Cambria;
  font-size: 13px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.img-responsive {
  margin: 30px auto auto auto;
  height: 50%;
  width: auto;
  display: block;
  border-radius: 10px;
}



#enroll button {
  border: 1px solid #F7B733;
  text-align: center;
  color: #DFDCE3;
  display: block;
  margin: 25px auto auto auto;
  line-height: 28px;
  width: 80%;
  height: 25px;
  vertical-align: middle;
  background-color: #F7B733;
  border-radius: 10px;
}

#enroll button,p, header nav ul li a div {
  font-family: Cambria;
  font-size: 18px;
  line-height: normal;
}

p {
  margin-left: 24px;
      color: #DFDCE3;
}

span hr {

  width: 80%;
}

header nav ul li a  {
text-decoration: none;

}

header nav ul li {
    list-style-type: none;

}
header nav ul li div {
  display: inline-block;
  margin-left: 3px;
  margin-top: 5px;


}
div tabs tab ul li {
  margin-left: 15px;
  list-style-type: none;

}

div tabs tab ul li a, div tabs tab ul li span{
  font-family: Cambria;
  font-size: 18px;
    color: #DFDCE3;
    text-decoration: none;
}

div tabs tab ul li :hover {
  color: #FC4A1A;
}

div tabs tab p {
  margin-left: 54px;
  font-family: Cambria;
  font-size: 18px;
      color: #DFDCE3;
}

div hr {
  border-color: #FC4A1A
}
