<app-headercomponent></app-headercomponent>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">


  <div class="border-left-up">
    <span>
      <img id = "myImage" class = "img-responsive"
          src = "{{urlName}}"
          />
          <hr />
  </span>
    <div>
      <div id="enroll">
        <button (click)="progressImage()">Enroll</button>
        <button (click)="finishedImage()">Finished</button>
      </div>
    </div>
  </div>

  <div class="border-left-down">
    <span>
    <br />
    <p>Title: {{name}} </p>
    <hr />
    <p>Category: {{category}}</p>


    </span>

  </div>


  <div class="border-right">
    <tabs>
      <tab [tabTitle]="'Overview'">
        <p>
          {{description}}
        </p>
      </tab>
      <tab tabTitle="Lessons">
        <ul>
          <li> <a href="{{urlLesson1}}">Lesson 1: {{lesson1}}</a></li>
          <li> <a>Lesson 2: {{lesson2}} </a></li>
          <li> <a>Lesson 3: {{lesson3}} </a></li>
        </ul>
      </tab>
    </tabs>

  </div>
